body{
    margin: 0px 20px 0px 20px;
}

h1{
    text-decoration: underline;
}

#a_button{
    border-radius: 10px;
}

th{
    background-color: #4169e1;
    font-weight: bold;
    font-size: 20px;
}

table{
    margin-top: 25px;
}